#environment table { border-collapse:collapse; border-spacing:0px 0px; border-style:none; border:0px; float:left; }
.info { float:right; width:200px; min-height:200px; border:1px solid black; margin-bottom:15px; }

.habitat { height:10px; width:10px; margin:0px; padding:0px; }
.habitat.active { background:red; }
.selector { border:1px solid red; margin:0px; padding:0px; height:10px; width:10px; }
.organism { height:8px; width:8px; }
/*
.plant { border:1px solid green; }
.herbivore { border:1px solid blue; } 
.carnivore { border:1px solid red; } 
*/
.mountain { background:#4d310d; }
.water { background:#3d48d0; } 
.tundra { background:#e0e0e0; }
.taiga { background:#9ba698; }
.swamp { background:#5be13c; }
.steppe { background:#ead492; }
.temperate { background:#5db13f; }
.scrub { background:#ffedb8; }
.jungle { background:#2f9a13; }
.desert { background:#ecc113; }

.info { }
.info dt { display:inline-block; width:60px;  }
.info dd { display:inline-block; width:50px; }
