

<div id="environment">
	<canvas id="canvas" width="1000" height="1000" style="border:1px solid black;width:"></canvas>
</div>

<div id="stats">
	
</div>

<script src="http://localhost:3000/socket.io/socket.io.js"></script>

<script type="application/javascript">
var socket = io.connect('http://localhost:3000');
var r = new Renderer();
socket.on('render', function(data) {
	r.render(data.data);
});
socket.on('stats', function(data) {
	r.show_stats(data.data);
})
</script>



