<html>
<head>

<link href="/css/environment.css" media="screen" rel="stylesheet" type="text/css" /> 
<script src="/js/utils.js"></script>
<script src="/js/render.js"></script>
<script src="/js/jquery.js"></script>

</head>

<body>
	<h1>Evolution Simulator</h1>
	<a href="/">Sim</a> | <a href="/species/create">Create Species</a>
<div id="content">
<%- body %>
</div>
</body>

</html>