<html>
<head>

<link href="/css/environment.css" media="screen" rel="stylesheet" type="text/css" /> 
<script src="/js/utils.js"></script>
<script src="/js/render.js"></script>
<script src="/js/jquery.js"></script>

</head>

<body>
<%- body %>
</body>

</html>